{% extends "layout.html" %}
{% block title %}Meow{% endblock %}
{% block body %}
<nav id="nav-contain" class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="nav-bar" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/"><i id="logo" class="fas fa-cat"></i></a>
      </li>
      <li class="nav-item dropdown ml-auto">
        <a id="profile" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle"></i></a>
        <div class="dropdown-menu" aria-labelledby="profile">
					{% if not email %}
	          <a class="dropdown-item" href="/login">Login</a>
						<a class="dropdown-item" href="/register">Register</a>
					{% else %}
						<a class="dropdown-item" href="/logout">Logout</a>
					{% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
<div id="neko-body" class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="neko-card">
				{% if email %}
					<div id="profile-card">
						<div id="bg-picture"></div>
						<div id="profile-info-container">
							<div id="profile-picture"><i class="fas fa-user"></i></div>
							<div id="profile-info">
								<p id="name">{{ fname }} {{ lname }}</p>
								<p id="tag">{{ email }}</p>
							</div>
						</div>
					</div>
				{% else %}
					<div id="login-card">
						<div class="login-section login-upper">
							<a class="meow btn login-button" href="/login">Login</a>
						</div>
						<div class="login-section">
							<a class="meow btn register-button" href="/register">Register</a>
						</div>
					</div>
				{% endif %}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="neko-card">
        {% if email %}
        <div class="submission">
          <div class="container-fluid submission-container">
            <div class="submission-row row">
              <div class="col-sm-1">
                <div class="submission-profile"><i class="fas fa-user"></i></div>
              </div>
              <div class="submission-col col-sm-11">
                <textarea id="submit-text" placeholder="meow meow meow meow?" name="submission-text" class="submission-text" form="submit-form"></textarea>
              </div>
            </div>
          </div>
          <form id="submit-form" action="post" method="POST">
            <button type="submit" class="meow btn submission-button">Meow</button>
          </form>
        </div>
        {% endif %}
        <ul id="post-container">
          {% if not posts %}
            <div class="post-filler">
              No public posts 😥
            </div>
          {% endif %}
          {% for post in posts %}
          <li>
            <div class="post container-fluid" post-id="{{ post['item_id'] }}">
              <div class="row">
                <div class="col-sm-1">
                  <div class="post-profile"><i class="fas fa-user"></i></div>
                </div>
                <div class="col-sm-11">
                  <div class="post-info">
                    <span class="post-user">{{ post['item_name'] }}</span><span class="post-tag"> • </span><span class="post-tag">{{ post['email_post'] }}</span>
                  </div>
                  <div class="post-content">
                    {{ post['file_path'] }}
                    {% if post.link %}
                      <a class="post-quote" href="{{ post.link }}">
                        <div class="post-quote-info">
                          {{ post.link }}
                        </div>
                        {% if post.preview %}
                          <div class="post-quote-text">
                            {{ post.preview }}
                          </div>
                        {% endif %}
                      </a>
                    {% endif %}
                  </div>
                  <div class="post-footer">
                    {% if email %}
                    <div class="post-actions">
                      <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Tag"><i class="far fa-hand-peace"></i> <span class="post-action-count">5</span></button>
                      <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Rate"><i class="far fa-grin"></i> <span class="post-action-count">5</span></button>
                      <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Comment"><i class="far fa-comment"></i> <span class="post-action-count">5</span></button>
                    </div>
                    {% endif %}
                    <span class="post-time">{{ post['post_time'] }}</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
			{% if email %}
      <div class="neko-card">
        <div id="users-container">
          <h1>Friend Groups</h1>
          <button type="submit" class="btn friend-btn" data-toggle="modal" data-target="#groupCreateModal">Create</button>
          <ul id="users-list">
            {% if not groups %}
              <li>
                <div class="container-fluid no-friends">
                  You are not in any friend groups 😥
                </div>
              </li>
            {% endif %}
            {% for group in groups %}
            <li>
              <div class="users-card container-fluid" data-toggle="modal" data-target="#groupModal">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="users-info">
                      <span class="users-user">{{ group.fg_name }}</span>
                      {% if group.owner_email == email %}
                        <span class="users-verified"><i class="fas fa-paw"></i></span>
                      {% endif %}
                      <br>
                      <span class="users-tag">{{ group.owner_email }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <br>
      <div class="neko-card">
        <div id="users-container">
          <h1>Pending Tags</h1>
          <ul id="tag-list">
            {% if not tags %}
              <li>
                <div class="container-fluid no-friends">
                  You have no pending tags
                </div>
              </li>
            {% endif %}
            {% for tag in tags %}
            <li>
              <div class="tag-card container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    email tagged you in item name
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
			{% endif %}
    </div>
  </div>
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
              <div class="col-sm-1">
                <div class="post-profile"><i class="fas fa-user"></i></div>
              </div>
              <div class="col-sm-11">
                <div class="post-info">
                  <p id="postModalName" class="post-user">user</p>
                  <p id="postModalEmail" class="post-tag">email</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="postModalContent" class="post-content">
                  content
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="post-tagged">
                  <span class="bold">5 <span>Tags</span></span>
                  <span class="space"></span>
                  <span class="bold">5 <span>Rates</span></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="post-footer">
                  {% if email %}
                  <div class="post-actions">
                    <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Tag"><i class="far fa-hand-peace"></i> <span class="post-action-count">5</span></button>
                    <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Rate"><i class="far fa-grin"></i> <span class="post-action-count">5</span></button>
                    <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Comment"><i class="far fa-comment"></i> <span class="post-action-count">5</span></button>
                  </div>
                  {% endif %}
                  <span id="postModalDate" class="post-time">time</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <ul class="post-comments">
              <li>
                <div class="post-info">
                  <span class="post-user">Full Name</span><span class="post-tag"> • </span><span class="post-tag"> EMAIL </span>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-fluid post-comment">
          <div class="row">
            <div class="col-sm-12">
              <textarea placeholder="Comment" class="comment-text" name="comment" form="comment-form"></textarea>
              <form id="comment-form" action="post" method="POST">
                <button type="submit" class="meow btn comment-button">Meow</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="groupCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid friend-container">
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1>Create a Friend Group</h1>
                <form method="POST" action="group/create">
                  <div class="form-group">
                    <input type="name" class="form-control" placeholder="Name" name="fg_name">
                  </div>
                  <textarea placeholder="Description" name="fg_description"></textarea>
        					<div class="login-buttons">
        	          <button type="submit" class="btn meow">Create</button>
        					</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid friend-container">
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="friend-header">Friend Group Name <span class="users-verified"><i class="fas fa-paw"></i></span></h1>
                <span class="friend-owner">owner_email</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h2>Members</h2>
                <ul>
                  <li>Member</li>
                  <li>Member</li>
                </ul>
                <h2>Add a Member</h2>
                <form method="POST" action="group/invite">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="hidden" value="" name="fg_name">
                      <input type="hidden" value="" name="owner_email">
        	            <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname">
        							<input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname">
        	          </div>
                  </div>
        					<div class="login-buttons">
        	          <button type="submit" class="btn meow">Add</button>
        					</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename='js/script.js') }}></script>
{% endblock %}
